#container {
    padding-top: 70px;
    margin: 0 auto;
    height: 600px;
    width: 900px;
    /* border: 2px solid black; */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    /* background-color: #F4F2FD; */
}

.box1 {
    height: 530px;
    width: 250px;
    /* border: 2px solid black; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;

}

.box2 {
    height: 530px;
    width: 250px;
    /* border: 2px solid black; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #A6A1E6;
    padding: 20px;

}

.box3 {
    height: 530px;
    width: 250px;
    /* border: 2px solid black; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
}

button {
    border-radius: 15px;
    position: relative;
    top: 70px;
    left: 70px;
    background-color: black;
    color: white;
    border: 2px solid blue;
    height: 30px;
    width: 170px;
}

button:hover {
    background-color: wheat;
    color: black;
    border: 2px solid yellow;
}

button:active {
    background-color: blueviolet;
}

.feature img {
    position: relative;
    top: 6px;


}

.feature span {
    position: relative;

    gap: 6px;
}